/*
!/.gitattributes
!/.gitignore
!/AndroidManifest.xml
!/assets
!/build.gradle
!/COPYING
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/jni
!/proguard-rules.pro
!/README.md
!/res
!/src
!/src-api
!/update
