/*
!/.gitattributes
!/.gitignore
!/AndroidManifest.xml
!/build.gradle
!/COPYING
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/icon.sh
!/icon.svg
!/jni
!/lang
!/metadata
!/proguard-rules.pro
!/README.md
!/res
!/src
!/update
