<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.mishiranu.dashchan">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22" />
	<uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission-sdk-23 android:name="android.permission.REQUEST_DELETE_PACKAGES" />
	<uses-permission-sdk-23 android:name="android.permission.QUERY_ALL_PACKAGES" />

	<application
		android:name=".content.MainApplication"
		android:label="Dashchan"
		android:icon="@mipmap/ic_launcher"
		android:logo="@mipmap/ic_logo"
		android:theme="@style/Theme.Launcher"
		android:largeHeap="true"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:usesCleartextTraffic="true"
		tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

		<activity
			android:name=".ui.MainActivity"
			android:launchMode="singleTask">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="chan.intent.action.HANDLE_URI" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>

		</activity>

		<activity
			android:name=".content.PostingShareActivity"
			android:taskAffinity=".postingshare"
			android:launchMode="singleInstance"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*"/>
			</intent-filter>

		</activity>

		<activity
			android:name=".content.UpdaterActivity"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Panel" />

		<service
			android:name=".content.service.PostingService" />

		<receiver
			android:name=".content.service.PostingService$Receiver" />

		<service
			android:name=".content.service.DownloadService" />

		<receiver
			android:name=".content.service.DownloadService$Receiver" />

		<service
			android:name=".content.service.WatcherService" />

		<service
			android:name=".content.service.AudioPlayerService" />

		<service
			android:name=".content.service.webview.WebViewService"
			android:process=":webview" />

		<provider
			android:name=".content.FileProvider"
			android:authorities="com.mishiranu.providers.dashchan"
			android:exported="false"
			android:grantUriPermissions="true" />

		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp" />

	</application>

</manifest>
