html, body
{
	font-size: 12pt;
	background: #EEF2FF;
	color: #000000;
}

a
{
	color: #34345C;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover
{
	color: #DD0000;
	text-decoration: underline;
	font-family: sans-serif;
}

.logo
{
	clear: both;
	text-align: center;
	font-size: 24pt;
	color: #AF0A0F;
	width: 100%;
}

.footer
{
	text-align: center;
	font-size: 10px;
	font-family: sans-serif;
}

.unkfunc
{
	background: #C4C2EE;
	color: #FFFFFF;
}

.filesize
{
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: underline;
	padding-left: 3em;
}

.postername
{
	font-size: 15px;
	font-family: serif;
	color: #117743;
	font-weight: 800;
}

.postertrip
{
	color: #228854;
}

.reply
{
	background: #D6DAF0;
	color: #000000;
	font-family: serif;
}

.doubledash
{
 	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle
{
	font-size: 18px;
	font-family: serif;
	color: #0F0C5D;
	font-weight: 800;
}

.spoiler, .spoiler *
{
	background: #9988ee;
	color: #9988ee;
}

.spoiler:hover, .spoiler:hover *
{
	color: inherit;
}