html, body
{
	background: #FFFFEE;
	color: #800000;
}

a
{
	color: #0000EE;
}

a:hover
{
	color: #DD0000;
}

.logo
{
	clear: both;
	text-align: center;
	font-size: 2em;
	color: #800000;
	width: 100%;
}

.footer
{
	text-align: center;
	font-size: 12px;
	font-family: serif;
}

.unkfunc
{
	background: inert;
	color: #789922;
}

.filesize
{
	text-decoration: none;
}

.postername
{
	color: #117743;
	font-weight: bold;
}

.postertrip
{
	color: #228854;
}

.reply
{
	background: #F0E0D6;
	color: #800000;
}

.doubledash
{
 	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle
{
	font-size: 1.2em;
	color: #CC1105;
	font-weight: 800;
}

.spoiler, .spoiler *
{
	background: #f0d0b6;
	color: #f0d0b6;
}

.spoiler:hover, .spoiler:hover *
{
	color: inherit;
}