html, body
{
	font-size: 10pt;
	background: #EDDAD2;
	color: #000000;
}

*
{
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
	font-size: 10pt;
}

a
{
	background: inherit;
	color: #34345C;
}

a:hover
{
	color: #DD0000;
	background: inherit;
}

.logo
{
	clear: both;
	text-align: center;
	font-size: 24pt;
	color: #AF0A0F;
	width: 100%;
}

.footer
{
	text-align: center;
	font-size: 12px;
}

.unkfunc
{
	background: inert;
	color: #789922;
}

.filesize
{
	text-decoration: none;
}

.postername
{
	font-size: 11pt;
	color: #117743;
	font-weight: bold;
}

.postertrip
{
	color: #228854;
}

.reply
{
	background: #D9AF9E;
	color: #000000;
	border: 1px solid #CA927B;
}

.doubledash
{
 	vertical-align: top;
	clear: both;
	float: left;
}

.replytitle
{
	font-size: 18px;
	color: #0F0C5D;
	font-weight: 800;
}

.spoiler, .spoiler *
{
	background: #ca927b;
	color: #ca927b;
}

.spoiler:hover, .spoiler:hover *
{
	color: inherit;
}